<div class="flex flex-col items-center min-h-screen bg-gray-100 py-10 ">

  <div class="flex justify-center mb-6">
    <div class="inline-flex bg-gray-200 rounded-full p-1">
      <button 
        (click)="selectedRole = 'doctor'"
        [ngClass]="{
          'bg-blue-500 text-white': selectedRole === 'doctor',
          'text-black': selectedRole !== 'doctor'
        }"
        class="px-5 py-2 text-sm font-semibold rounded-full transition-colors duration-300"
      >
        DOCTOR
      </button>
      <button 
        (click)="selectedRole = 'patient'"
        [ngClass]="{
          'bg-blue-500 text-white': selectedRole === 'patient',
          'text-black': selectedRole !== 'patient'
        }"
        class="px-5 py-2 text-sm font-semibold rounded-full transition-colors duration-300"
      >
        PATIENT
      </button>
    </div>
  </div>
  
  <div  class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-center text-black text-2xl font-semibold mb-4">Sign Up</h2>
    <div *ngIf="showNotification && selectedRole=='doctor'"  class="toast">
      ✅ Pending approval. You’ll get a confirmation email once approved.
    </div>
    <div *ngIf="showNotification && selectedRole=='patient'"  class="toast">
      ✅ Check your email for verification
    </div>
    <div *ngIf="showError" class="pop">
      ❌​ This email is already registered.
    </div>
    <form *ngIf="selectedRole=='patient'" [formGroup]="patientRegisterForm" (ngSubmit)="onSubmitPatient()" class="flex flex-col gap-3">
      <div *ngIf="error" class="text-red-500">{{ error }}</div>
      <div *ngIf="patientRegisterForm.get('age')?.invalid && patientRegisterForm.get('age')?.touched" class="text-red-500 text-sm">
        Enter a valid age.
      </div>
      <input type="text" formControlName="firstName" placeholder="First Name" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="text" formControlName="lastName" placeholder="Last Name" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="email" formControlName="email" placeholder="Email" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="password" formControlName="password" placeholder="Password" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="tel" formControlName="phoneNumber" placeholder="Phone Number" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="number" formControlName="age" placeholder="Age" class="p-2 border text-black rounded-md border-gray-300" />
      <select 
      class="p-2 border text-black rounded-md border-gray-300 w-full"
      formControlName="gender"
    >
      <option value="" disabled >Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
      <button type="submit" class="p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Sign Up
      </button>
    </form>

    <form *ngIf="selectedRole=='doctor'" [formGroup]="doctorRegisterForm" (ngSubmit)="onSubmitDoctor()" class="flex flex-col gap-3">
      <div *ngIf="error" class="text-red-500">{{ error }}</div>

      <input type="text" formControlName="firstName" placeholder="First Name" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="text" formControlName="lastName" placeholder="Last Name" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="email" formControlName="email" placeholder="Email" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="password" formControlName="password" placeholder="Password" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="tel" formControlName="phoneNumber" placeholder="Phone Number" class="p-2 border text-black rounded-md border-gray-300" />
      <input type="text" formControlName="licenseNumber" placeholder="License Number" class="p-2 border text-black rounded-md border-gray-300" />
      <select 
      required
        class="p-2 border text-black rounded-md border-gray-300 w-full"
        formControlName="speciality"
      >
        <option value="" disabled >Select Specialization</option>
        <option value="Dentist">Dentist</option>
        <option value="Orthodontist">Orthodontist</option>
        <option value="Radiologist">Radiologist</option>
        <option value="Psychiatrist">Psychiatrist</option>
        <option value="Physiatrist">Physiatrist</option>
        <option value="Pediatrician">Pediatrician</option>
        <option value="Gynecologist">Gynecologist</option>
        <option value="Neurologist">Neurologist</option>
        <option value="Dermatologist">Dermatologist</option>
        <option value="Cardiologist">Cardiologist</option>
        <option value="General Practitioner">General Practitioner</option>
        <option value="Plastic Surgeon">Plastic Surgeon</option>
        <option value="General Surgeon">General Surgeon</option>
      </select>
      <input type="text" formControlName="address" placeholder="Address" class="p-2 border text-black rounded-md border-gray-300" />
      <select 
      class="p-2 border text-black rounded-md border-gray-300 w-full"
      formControlName="city"
      required
      >
      <option value="" disabled >Select City</option>
      <option value="Tunis">Tunis</option>
      <option value="Sfax">Sfax</option>
      <option value="Sousse">Sousse</option>
      <option value="Kairouan">Kairouan</option>
      <option value="Bizerte">Bizerte</option>
      <option value="Gabès">Gabès</option>
      <option value="Ariana">L'Ariana</option>
      <option value="Gafsa">Gafsa</option>
      <option value="Nabeul">Nabeul</option>
      <option value="Ben Arous">Ben Arous</option>
      <option value="Monastir">Monastir</option>
      <option value="Médenine">Médenine</option>
      <option value="Kébili">Kébili</option>
      <option value="Tataouine">Tataouine</option>
      <option value="Tozeur">Tozeur</option>
      <option value="Béja">Béja</option>
      <option value="Jendouba">Jendouba</option>
      <option value="Kasserine">Kasserine</option>
      <option value="Le Kef">Le Kef</option>
      <option value="Mahdia">Mahdia</option>
      <option value="Manouba">La Manouba</option>
      <option value="Sidi Bouzid">Sidi Bouzid</option>
      <option value="Siliana">Siliana</option>
      <option value="Zaghouan">Zaghouan</option>
      </select>
      <input type="text" formControlName="zipCode" placeholder="Zip Code" class="p-2 border text-black rounded-md border-gray-300" />
      <button type="submit" class="p-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Sign Up
      </button>
    </form>

    <p class="text-center text-gray-400 text-sm mt-4">
      Already have an account?
      <a (click)="navigateToLogin()" class="text-blue-600 cursor-pointer hover:underline">Login</a>
    </p>
  </div>
</div>
